@model HackFest.Models.Connexion;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = null;
    System.Globalization.CultureInfo _culture = @System.Globalization.CultureInfo.CurrentUICulture;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>HackFest</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <style>
        ul {
            text-align : left;
            list-style-type :none;
            display : inline-block;
        }
        li{
            display : inline-block;
        }

    </style>
</head>

<body style="text-align:center">
    <div class="panel panel-success">
        <div class="panel-heading">
            <ul>
                <li><a href="Index?culture=en-US">EN-US</a></li>
                <li><a href="Index?culture=fr-CA">FR-CAD</a></li>
            </ul>
            <h1 style="height:25% ; text-align : center">@Localizer["Titre"]</h1>
        </div>
        <div class="panel-body">


            <h4 style="height:100px">@Localizer["Connection"]</h4>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    <label>@Localizer["Username"]</label>
                    @Html.TextBoxFor(i => i.User, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>@Localizer["Password"]</label>

                    @Html.PasswordFor(i => i.Password, new { @class = "form-control" })
                </div>
                <div class="text-center">
                    <input class="btn btn-success" type="submit" value="Go" />
                </div>
            }

        </div>
    </div>
</body>

</html>