@model HackFest.Models.Participant;

@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Inscription</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body style="text-align:center">
    <h1 style="height:25%">Inscription au HackFest</h1>

    <div class="panel-body" id="form" style="height:50px">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label>Votre Prénom: </label>
                @Html.TextBoxFor(x => x.Prenom, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Votre Nom: </label>
                @Html.TextBoxFor(x => x.Nom, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Votre Couriel: </label>
                @Html.TextBoxFor(x => x.Couriel, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Votre affiliation: </label>
                @Html.TextBoxFor(x => x.Prenom, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Date d'inscription: </label>
                @Html.TextBoxFor(x => x.Date_inscription, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Montant</label>
                @Html.TextBoxFor(x => x.Montant, new { @class = "form-control" })
            </div>
            <div class="text-center">
                <input class="btn btn-success" type="submit" value="go"/>
            </div>

        }
    </div>

</body>

</html>