@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = null;
    System.Globalization.CultureInfo _culture = @System.Globalization.CultureInfo.CurrentUICulture;
}


<!DOCTYPE html>
<html>
<head>
    <title>@Localizer["headTitle"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <style>
        body {
            text-align: center
        }
    </style>
</head>
<body>

    <h1>@Localizer["Titre"]</h1>
    <br><br>
    <p>@Localizer["Information"]</p>
    <div class="btn btn-success">
        @Html.ActionLink("Go", "Panel", "Home")
    </div>
</body>
</html>